.benutzer {
  width: 100%;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 20px;
    tbody {
      tr {
        border-radius: 10px;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    td:first-child {
      border-radius: 10px 0 0 10px;
    }
    td:last-child {
      border-radius: 0 10px 10px 0;
    }
    td,
    th {
      font-size: 16px;
      line-height: 21px;
      font-weight: 400;
      color: $black;
      text-align: left;
      vertical-align: top;
      &:first-child {
        text-align: center;
      }
      &:nth-child(3) {
        text-align: center;
      }
    }
    th {
      padding: 0 20px;
      font-weight: 500;
    }
    td {
      background: $white;
      padding: 25px;
    }
  }
  &__btn {
    color: $secondary;
    background: none;
    font-size: 16px;
    font-family: $mainFont;
    line-height: 21px;
    font-weight: 400;
    cursor: pointer;
    text-align: left;
    @include transition;
    span {
      display: none;
    }
    &:hover {
      color: #61b0f3;
    }
  }
  &__md {
    width: 55px;
    height: 48px;
    border-radius: 10px;
    background: $gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    @include transition;
    margin-left: 14px;
    &:first-child {
      margin-left: 0;
    }
    &-row {
      display: flex;
    }
    svg {
      width: 24px;
      height: 20px;
      @include transition;
      color: #000000;
    }
    &:hover {
      background: $secondary;
      svg {
        color: $white;
      }
    }
  }
  &__product {
    span {
      display: block;
      padding-left: 24px;
      position: relative;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        position: absolute;
        top: 5px;
        left: 0;
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $gray;
      }
      &.positive {
        &::before {
          background: $uniq;
        }
      }
      &.negative {
        &::before {
          background: $main;
        }
      }
    }
  }
}
@mixin benutzer-xlg-xxlg {
  .benutzer {
    table {
      th,
      td {
        padding: 10px;
      }
    }
  }
}
@mixin benutzer-md-lg {
  .benutzer {
    table {
      th,
      td {
        vertical-align: middle;
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }
}
@mixin benutzer-xxsm-xsm {
  .benutzer {
    table {
      display: block;
      thead {
        display: none;
      }
      tbody {
        display: block;
      }
      tr {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 19px 22px;
      }
      td {
        text-align: left !important;
        padding: 0;
        &:nth-child(1) {
          display: none;
        }
        &:last-child {
          position: absolute;
          top: 50%;
          right: 22px;
          @include transformY;
        }
      }
    }
    &__btn {
      color: #333;
      &.uniq {
        font-weight: 700;
        color: $secondary;
        font-size: 16px;
        line-height: 22px;
      }
      span {
        display: inline-block;
      }
    }
    &__md {
      width: 40px;
      height: 38px;
      border-radius: 5px;
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }
}
